{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_login') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="form--container">
                {# <div class="content--container"> #}
                    <div class="form--role">
                        <a href="{{ path('app_login') }}">
                            <div class="form--login">
                                <span>Se connecter</span>
                            </div>
                        </a>
                        <a href="{{ path('app_register') }}">
                            <div class="form--register notActive">
                                <span>S'inscricre</span>
                            </div>
                        </a>
                    </div>

                    <div class="form--content">
                        <form method="post" id="login_form">
                            {% if error %}
                                {% set errorMessage = error.messageKey|trans(error.messageData, 'security') == "Invalid credentials." ? "Identifiants invalides." : error.messageKey|trans(error.messageData, 'security') %}
                                <div class="alert alert-danger">{{ errorMessage }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <div class="mail--container">
                                <div>
                                    <label for="inputEmail">Adresse mail IUT</label>
                                    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control hoveredItems" autocomplete="email" required autofocus>
                                </div>
                                <div>
                                    <span>@iut-tarbes.fr</span>
                                </div>
                            </div>
                            <div>
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control hoveredItems" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html #}

                            <div class="agreeTerms--container">
                                <input type="checkbox" id="_remember_me" name="_remember_me">
                                <label for="_remember_me" class="hoveredItems notRequired">Se souvenir de moi </label>
                            </div>
            

                            <button class="form--btn form--btn__login hoveredItems" type="submit">Se connecter</button>
                        </form>
                    </div>
                {# </div> #}
            </div>
        </div>

        {% include "components/_footer.html.twig" %}
    </div>

{% endblock %}
