<button 
    title="{{ title }}" 
    data-action = "{{ action }}"
    data-id = "{{ user.id }}"
    onclick="event.stopPropagation();" 
    class="hoveredItems {{ action }}">
    <span>{{ icon }}</span>
</button>

<form 
    id="js-user-{{ action }}-form-{{ user.id }}"
    display="none" 
    hidden="hidden"
    action="{{ path('app_user_' ~ action, {"id": user.id}) }}" 
    method="POST">
    <input type="hidden" name="token" value="{{ csrf_token(action ~ "-user" ~ user.id) }}"/>
</form>