{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_reset_password') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="form--container">
                <div class="form--content">        
                    <h1>Réinitialiser mot de passe</h1>

                    {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        {% include "components/_button.html.twig" with {
                            "link": "",
                            "class_modifier": "w_100p",
                            "title": "Réinitialiser",
                            "type": "",
                            "isDisabled": false
                        } %}
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
