{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_sessions_create') }}
	{{ encore_entry_link_tags('app_register') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="form--container">
                <div class="form--role">
                    <span>Proposer un cours</span>
                </div>

                <div class="form--content">
                    {{ form_start(form, {"attr": {"id": "session_form"}}) }}

                    {{ form_row(form.title, {
                            "label": "Titre",
                            'attr': {'class':'hoveredItems'}
                        }) }}

                    {{ form_row(form.description, {
                            "label": "Détails",
                            'attr': {'class':'hoveredItems description', 'rows':'4', 'maxlength':'255'}
                        }) }}

                    <div class="collapse collapse_2">
                        <div class="faceToFace--container">
                            <label class="required">Environnement</label>
                            <div id="session_faceToFace" class="hoveredItems">
                                <div class="choice--container presentiel">
                                    <label for="session_faceToFace_0" class="required notRequired">
                                        <input type="radio" id="session_faceToFace_0" name="session[faceToFace]" required="required" value="1" checked="checked" />
                                        <div class="choice">
                                            <span>Présentiel</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="choice--container distanciel">
                                    <label for="session_faceToFace_1" class="required notRequired">
                                        <input type="radio" id="session_faceToFace_1" name="session[faceToFace]" required="required" value="2" />
                                        <div class="choice">
                                            <span>Distanciel</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div id="switchOption--container">
                            {{ form_row(form.link, {
                                "label": "Lien de la visio",
                                'attr': {'class':'hoveredItems'}
                            }) }}

                        </div>
                    </div>

                    {# MUTED TEXT #}
                    <span class="mutedText">Si tu souhaites faire ton cours de tutorat en présentiel, le secrétariat sera prévenu automatiquement par mail afin de t'assigner une salle.</span>
                    <span class="mutedText">Une fois que tu auras reçu ta réponse par mail, tu pourras chercher le badge/clé de la salle au secrétariat pendant les horaires d'ouverture.</span>


                    <div class="collapse collapse_3">
                        {{ form_row(form.studentLimit, {
                            "label": "Limite d'étudiants",
                            'attr': {'class':'hoveredItems', 'max':'15', 'min':'1', 'value':'1'}
                        }) }}

                        {{ form_row(form.subject, {
                            "label": "Module",
                            'attr': {'class':'hoveredItems'}
                        }) }}
                        
                        <div class="timeFormat--container">
                            <label class="required">Format de cours</label>
                            <div id="session_timeFormat" class="hoveredItems">
                                <div class="choice--container choice--container__1">
                                    <label for="session_timeFormat_0" class="required notRequired">
                                        <input type="radio" id="session_timeFormat_0" name="session[timeFormat]" required="required" value="1" checked='checked'>
                                        <div class="choice">
                                            <span>30min</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="choice--container choice--container__2">
                                    <label for="session_timeFormat_1" class="required notRequired">
                                        <input type="radio" id="session_timeFormat_1" name="session[timeFormat]" required="required" value="2">
                                        <div class="choice">
                                            <span>45min</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="choice--container choice--container__3">
                                    <label for="session_timeFormat_2" class="required notRequired">
                                        <input type="radio" id="session_timeFormat_2" name="session[timeFormat]" required="required" value="3">
                                        <div class="choice">
                                            <span>1h</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_row(form.dateTime, {
                        "label": "Date et heure",
                        'attr': {'class':'hoveredItems'},
                    }) }}

                    {{ form_row(form.comment, {
                        "label": "Commentaire",
                        "help": "Si tu as un message ou une demande spécifique à transmettre auprès du département, tu peux l'indiquer ici.",
                        "attr": {
                            'class':'hoveredItems description',
                            "placeholder": "Nous avons besoin d'une salle avec des ordinateurs parce que...",
                            'rows':'5'
                        }
                    }) }}

                    <button type="submit" class="btn btn__propose hoveredItems">Proposer</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

        {% include "components/_footer.html.twig" %}
	</div>


{% endblock %}
