{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_sessions') }}
{% endblock %}

{% block body %}
	<form 
		action="{{ path("app_sessions_participants", { 'id': session.id }) }}"
		method="POST">
		{% for student in session.students %}
			<p>{{ student }}</p>
			<label for="present-{{ student.id }}">Présent</label>
			<input 
				type="radio" 
				name="{{ student.id }}" 
				value="present"
				id="present-{{ student.id }}">
		{% endfor %}
		<button type="submit">Envoyer</button>
	</form>

	{# MODAL: ARE YOU SURE? #}

{% endblock %}
