{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_sessions_view') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}

    {% set links = {
        "accueil": "/",
        "mes_cours": "/ownSessions",
        "cours": "/sessions",
        "create": "/sessions/create",
        "en_attente": "/sessions/pending",
        "logs": "/sessions/log",
        "utilisateurs": "/users",
        "modules": "/subject",
        "salles": "/classroom",
        "semestre": "/semester",
        "contact": "/contact",
        "inscription": "/register",
        "connexion": "/login",
        "deco": "/logout"
    } %}

    <span id="navSessionTitle" hidden>{{ currentSession.title }}</span>
    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            {% if (app.user in currentSession.students) %}
                {# already joined #}
                {% set sessionViewMode = 1 %}
            {% elseif (app.user == currentSession.tutor) %}
                {# tutor author #}
                {% set sessionViewMode = 2 %}
            {% elseif ((roles.3 in app.user.roles) and (app.user.faculty == currentSession.subject.faculty))%}
                {# admin #}
                {% set sessionViewMode = 4 %}
            {% else %}
                {# student joinable #}
                {% set sessionViewMode = 3 %}
            {% endif %}
            
            <div class="cours--container">
                <div class="cours--content">
                    <div class="text">
                        <h2 class="titre">{{ currentSession.title }}</h2>
                        <span class="subject">{{ currentSession.subject }} - {{ currentSession.subject.faculty.name }}</span>
                        <span class="tutor">Par <span>{{ currentSession.tutor }}</span></span>
                    </div>

                    <div class="description">
                        <span>{{ currentSession.description }}</span>
                    </div>

                    <div class="text">
                        <span class="date">Le <b>{{ currentSession.datetime | date('d/m/Y') }}</b> à <b>{{ currentSession.datetime | date('h') }}h{{ currentSession.datetime | date('i') }}</b> en <b>{{ (currentSession.faceToFace == 1) ? "présentiel" : "distanciel" }}</b></span>

                        {% set duration = "30min" %}
                        {% if currentSession.timeFormat == 2 %}
                            {% set duration = "45min" %}
                        {% elseif currentSession.timeFormat == 3 %}
                            {% set duration = "1h" %}
                        {% endif %}
                        <span>Durée : <b>{{ duration }}</b></span>

                        {% if currentSession.faceToFace == 1 %}
                            {% if currentSession.classroom != null %}
                                <span class="localisation">Salle {{ currentSession.classroom.name }} dans le département {{ currentSession.subject.faculty.name }}.</span>
                            {% else %}
                                <span class="localisation">Pas de salle attribuée pour le moment.</span>
                            {% endif %}
                        
                        {% else %}
                            <span class="localisation">Lien de la visioconférence : <a href="{{ currentSession.link }}" target="_blank" class="link lineHoverEffect hoveredItems"><span>{{ currentSession.link }}</span></a></span>
                        {% endif %}
                        <span class="participants"><b>{{ currentSession.students | length}}</b> étudiant.es inscrit.es sur <b>{{ currentSession.studentLimit}}</b></span>
                    </div>

                    {% if sessionViewMode == 3 %}
                        {% if currentSession.students | length < currentSession.studentLimit %}
                            <button class="btn btn__w_default hoveredItems" onclick="event.preventDefault(); document.querySelector('#js-join-session-{{ currentSession.id }}').submit();">
                                <span>S'inscrire</span>
                            </button>
                            <form 
                                method="POST" 
                                hidden="hidden" 
                                action="{{ path("app_sessions_join", {"id": currentSession.id}) }}"
                                id="js-join-session-{{ currentSession.id }}">
                                <input type="hidden" name="token" value="{{ csrf_token('join-session' ~ currentSession.id) }}"/>
                            </form>
                        {% else %}
                            <button class="btn btn__w_default hoveredItems" disabled>S'inscrire</button>  
                        {% endif %}

                    {% elseif sessionViewMode == 1 %}
                        <button class="btn btn__w_default hoveredItems" onclick="event.preventDefault(); document.querySelector('#js-session-leave-{{ currentSession.id }}').submit();">
                            <span>Se désinscrire</span>
                        </button>
                        <form 
                            method="POST" 
                            hidden="hidden" 
                            action="{{ path("app_sessions_leave", {"id": currentSession.id}) }}"
                            id="js-session-leave-{{ currentSession.id }}">
                            <input type="hidden" name="token" value="{{ csrf_token('leave-session' ~ currentSession.id) }}"/>
                        </form>

                    {% elseif (sessionViewMode == 2) or (sessionViewMode == 4) %}
                        <button class="btn btn__w_default hoveredItems" onclick="document.querySelector('#js-session-delete-{{ currentSession.id }}').submit();">
                            <span>Annuler le cours</span>
                        </button>
                        <form 
                            method="POST" 
                            hidden="hidden" 
                            action="{{ path("app_sessions_delete", {"id": currentSession.id}) }}"
                            id="js-session-delete-{{ currentSession.id }}">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-session' ~ currentSession.id) }}"/>
                        </form>

                        {% if (currentSession.students is empty) or (currentSession.participants is empty == false) %}
                        {% else %}
                            {# {% include "components/_button.html.twig" with {
                                "link": "{{ path('app_sessions_participants', {'id': currentSession.id}) }}",
                                "class_modifier": "w_default",
                                "title": "Faire l'appel",
                                "type": ""
                            } %} #}
                            <a href="{{ path("app_sessions_participants", {"id": currentSession.id}) }}">
                                <button class="btn btn__w_default hoveredItems">
                                    <span>Faire l'appel</span>
                                </button>
                            </a>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="suggestions--container">
                    {% if sessions is empty == false %}
                        <span class="suggestion--titre">Cours similaires</span>
                        {% for session in sessions %}
                            <div class="card--container__minify">
                                <button class="inscription hoveredItems" onclick="document.getElementById('js-session-view-{{ session.id }}').submit();">
                                    <div class="card--hovered">
                                        <div class="text">
                                            <div>
                                                <span>E</span>
                                                <span>N</span>
                                                <span> </span>
                                                <span>S</span>
                                                <span>A</span>
                                                <span>V</span>
                                                <span>O</span>
                                                <span>I</span>
                                                <span>R</span>
                                                <span> </span>
                                                <span>P</span>
                                                <span>L</span>
                                                <span>U</span>
                                                <span>S</span>
                                            </div>
                                        </div>
                                        <div class="background">
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card--content">
                                            <div class="text">
                                                <span class="title">{{ session.title }}</span>
                                                <br>
                                                <span class="subject">{{ session.subject }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <form 
                                    id="js-session-view-{{ session.id }}"
                                    action="{{ path('app_sessions_view', {"id": session.id}) }}" 
                                    method="GET"
                                    display="none">
                                </form>
                            </div>
                        {% endfor %}
                    {% else %}
                        <span class="suggestion--titre">Pas de cours similaires</span>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    

{% endblock %}
