{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    {% if app.user %}
        <p>Vous êtes connecté !</p>
        <br><br><br>
        <a href="{{ path('app_logout') }}">Se déco</a><br>
        <a href="{{ path('app_session') }}">Tableau de bord</a><br>

        {% if "ROLE_TUTOR" not in app.user.roles %}
            <a href="{{ path('app_become-tutor') }}">Devenir tuteur</a><br>
        {% endif %}
        {% if ("ROLE_TUTOR" in app.user.roles) and (app.user.isValid == 2) %}
            <a href="{{ path('app_session_create') }}">Proposer un cours</a><br>
        {% endif %}
        {% if ("ROLE_SECRETARY" in app.user.roles) and (app.user.isValid == 2) %}
            <a href="{{ path('app_sessions_pending') }}">Gérer les salles de cours</a><br>
        {% endif %}
        {% if ("ROLE_ADMIN" in app.user.roles) and (app.user.isValid == 2) %}
            <a href="{{ path('app_users') }}">Gérer utilisateurs</a><br>
        {% endif %}
    {% else %}
        <a href="{{ path('app_register') }}">Inscription</a><br>
        <a href="{{ path('app_login') }}">Se co</a><br>
    {% endif %}
    <h1>Hi</h1>

{% endblock %}
