{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_home') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    {% set links = {
        "accueil": "/",
        "mes_cours": "/ownSessions",
        "cours": "/sessions",
        "create": "/sessions/create",
        "en_attente": "/sessions/pending",
        "logs": "/sessions/log",
        "utilisateurs": "/users",
        "modules": "/subject",
        "salles": "/classroom",
        "semestre": "/semester",
        "contact": "/contact",
        "inscription": "/register",
        "connexion": "/login",
        "deco": "/logout"
    } %}

    <div class="smooth--container" data-lg-smooth>
        {% if app.user %}
            {% set roleViewLabels = [
                "Étudiant",
                "Étudiant tuteur",
                "Secrétaire",
                "Administrateur",
            ] %}

            <div class="welcome--container">
                {% if app.user %}
                    {% if (roles.3 not in app.user.roles) and (roles.2 not in app.user.roles) %}
                    {# ÉTUDIANT #}
                        <div class="leftSide">
                            <div class="home--container">
                                <div class="welcome">
                                    <h1>Bonjour <span>{{ app.user.firstname }}</span> 👋</h1>
                                    <span><b>Heureux de te revoir !</b></span>
                                </div>

                                {% if sessions | length == 0 %}
                                    <span class="infos">Tu n'as pas de cours prévu. N'hésites pas en chercher <a href="{{ path('app_sessions') }}" class="hoveredItems lineHoverEffect"><span>ici</span></a> !</span>
                                {% else %}
                                    <span class="infos">Tu es inscrit.e à <span><b>{{ sessions | length}}</b></span> cours ! Tu peux voir la liste à côté 👀</span>                             
                                {% endif %}

                                <div class="buttons">
                                    <div class="buttons--container">
                                        {% include "components/_button.html.twig" with {
                                            "link": links.cours,
                                            "class_modifier": "w_default",
                                            "title": "Chercher un cours",
                                            "type": ""
                                        } %}
                                        {% include "components/_button.html.twig" with {
                                            "link": links.mes_cours,
                                            "class_modifier": "w_default",
                                            "title": "Mes cours",
                                            "type": ""
                                        } %}
                                        {% if (roles.1 in app.user.roles) and (app.user.isValid == 2) %}
                                            {% include "components/_button.html.twig" with {
                                                "link": links.create,
                                                "class_modifier": "w_default",
                                                "title": "Proposer un cours",
                                                "type": ""
                                            } %}
                                        {% else %}
                                            <button class="btn btn__w_default hoveredItems" id="becomeTutor">Proposer un cours</button>
                                        {% endif %}

                                        {% include "components/_button.html.twig" with {
                                            "link": links.deco,
                                            "class_modifier": "w_tiny",
                                            "title": "Se déconnecter",
                                            "type": ""
                                        } %}
                                    </div>
                                </div>
                            </div>                        
                        </div>

                        <div class="rightSide">
                            <div class="sessions--container">
                                {% for session in sessions %}
                                    <div class="studentCourse">
                                        <div class="link hoveredItems">
                                            <a href="{{ path('app_sessions_view', {"id": session.id}) }}">
                                                <span>{{ session.dateTime | date('d/m/Y') }} - {{ session.dateTime | date('h') }}:{{ session.dateTime | date('i') }}</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18.03" height="16.857" viewBox="0 0 18.03 16.857">
                                                    <g id="back_arrow" data-name="back arrow" transform="translate(17.064 10.025) rotate(150)">
                                                        <line id="Ligne_6" data-name="Ligne 6" x2="13.664" transform="translate(0 5.23)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                        <line id="Ligne_7" data-name="Ligne 7" y1="5.23" x2="5.23" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                        <line id="Ligne_8" data-name="Ligne 8" x2="5.23" y2="5.23" transform="translate(0 5.23)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                    </g>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="lineGap"></div>
                                        <div class="infos">
                                            <span>{{ session.subject.title }} - Semestre {{ session.subject.semester }} - {{ (session.faceToFace == 1) ? "Présentiel" : "Distanciel" }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% elseif (roles.2 in app.user.roles) and (roles.3 not in app.user.roles) and (app.user.isValid == 2) %} 
                    {# SECRETAIRE #}
                        <div class="leftSide">
                            <div class="home--container">
                                <div class="welcome">
                                    <h1>Bonjour <span>{{ app.user.firstname }}</span> 👋</h1>
                                    <span><b>Heureux de vous revoir !</b></span>
                                </div>

                                {% if awaiting_sessions | length == 0 %}
                                    <span class="infos">Pas de demandes en attente.</span>
                                {% else %}
                                    <span class="infos">Voici les dernières demandes reçues :</span>
                                {% endif %}

                                <div class="requests--container">
                                    {% for session in awaiting_sessions %}
                                        <div class="request">
                                            <div class="link hoveredItems">
                                                <a href="{{ path('app_sessions_view', {"id": session.id}) }}">
                                                    <span>{{ session.title }} - {{ session.subject }}</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.03" height="16.857" viewBox="0 0 18.03 16.857">
                                                        <g id="back_arrow" data-name="back arrow" transform="translate(17.064 10.025) rotate(150)">
                                                            <line id="Ligne_6" data-name="Ligne 6" x2="13.664" transform="translate(0 5.23)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Ligne_7" data-name="Ligne 7" y1="5.23" x2="5.23" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Ligne_8" data-name="Ligne 8" x2="5.23" y2="5.23" transform="translate(0 5.23)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="lineGap"></div>
                                            <div class="infos">
                                                {# {% set sessionRoleIndex = session.roles | length - 1 %} #}
                                                <span>{{ session.tutor.firstName }} {{ session.tutor.lastName }} - {{ session.dateTime |  date('d/m/Y') }} - {{ session.datetime | date('h') }}h{{ session.datetime | date('i') }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="buttons">
                                    <div class="buttons--container">
                                        {% include "components/_button.html.twig" with {
                                            "link": links.cours,
                                            "class_modifier": "w_default",
                                            "title": "Liste des cours",
                                            "type": ""
                                        } %}
                                        {% include "components/_button.html.twig" with {
                                            "link": links.en_attente,
                                            "class_modifier": "w_default",
                                            "title": "Cours en attente",
                                            "type": ""
                                        } %}
                                    </div>
                                    {% include "components/_button.html.twig" with {
                                        "link": links.deco,
                                        "class_modifier": "w_tiny",
                                        "title": "Se déconnecter",
                                        "type": ""
                                    } %}
                                </div>
                            </div>
                        </div>
                    {% elseif (roles.3 in app.user.roles) and (app.user.isValid == 2) %} 
                    {# ADMIN #}
                        <div class="leftSide">
                            <div class="home--container">
                                <div class="welcome">
                                    <h1>Bonjour <span>{{ app.user.firstname }}</span> 👋</h1>
                                    <span><b>Heureux de te revoir !</b></span>
                                </div>

                                {% if users | length == 0 %}
                                    <span class="infos">Pas de demandes en attente.</span>
                                {% else %}
                                    <span class="infos">Voici les dernières demandes reçues :</span>
                                {% endif %}

                                <div class="requests--container">
                                    {% for user in users %}
                                        <div class="request">
                                            <div class="link hoveredItems">
                                                <a href="{{ path('app_users') }}">
                                                    <span>{{ user.firstName | upper }} {{ user.lastName | capitalize }}</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.03" height="16.857" viewBox="0 0 18.03 16.857">
                                                        <g id="back_arrow" data-name="back arrow" transform="translate(17.064 10.025) rotate(150)">
                                                            <line id="Ligne_6" data-name="Ligne 6" x2="13.664" transform="translate(0 5.23)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Ligne_7" data-name="Ligne 7" y1="5.23" x2="5.23" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Ligne_8" data-name="Ligne 8" x2="5.23" y2="5.23" transform="translate(0 5.23)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"/>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="lineGap"></div>
                                            <div class="infos">
                                                {% set userRoleIndex = user.roles | length - 1 %}
                                                <span>{{ roleViewLabels[userRoleIndex] }} - {{ user.year }}e année</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="buttons">
                                    <div class="buttons--container">
                                        {% include "components/_button.html.twig" with {
                                            "link": links.logs,
                                            "class_modifier": "w_default",
                                            "title": "Logs admin",
                                            "type": ""
                                        } %}
                                        {% include "components/_button.html.twig" with {
                                            "link": links.cours,
                                            "class_modifier": "w_default",
                                            "title": "Liste des cours",
                                            "type": ""
                                        } %}
                                        {% include "components/_button.html.twig" with {
                                            "link": links.utilisateurs,
                                            "class_modifier": "w_default",
                                            "title": "Gérer les utilisateurs",
                                            "type": ""
                                        } %}
                                        {% include "components/_button.html.twig" with {
                                            "link": links.modules,
                                            "class_modifier": "w_default",
                                            "title": "Gérer les modules",
                                            "type": ""
                                        } %}
                                        {% include "components/_button.html.twig" with {
                                            "link": links.salles,
                                            "class_modifier": "w_default",
                                            "title": "Gérer les salles de cours",
                                            "type": ""
                                        } %}
                                        {% include "components/_button.html.twig" with {
                                            "link": links.semestre,
                                            "class_modifier": "w_default",
                                            "title": "Gérer les semestres",
                                            "type": ""
                                        } %}
                                    </div>
                                    {% include "components/_button.html.twig" with {
                                        "link": links.deco,
                                        "class_modifier": "w_tiny",
                                        "title": "Se déconnecter",
                                        "type": ""
                                    } %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="buttons--container">
                        {% include "components/_button.html.twig" with {
                            "link": links.inscription,
                            "class_modifier": "w_default",
                            "title": "S'inscrire",
                            "type": ""
                        } %}
                        {% include "components/_button.html.twig" with {
                            "link": links.connexion,
                            "class_modifier": "w_default",
                            "title": "Se connecter",
                            "type": ""
                        } %}
                    </div>
                {% endif %}

                {# if a student wants to become a tutor #}
                {% if roles.1 not in app.user.roles %}
                    <div class="flash--container">
                        <div class="text--container">
                            <span>Tu dois être un tuteur pour pouvoir proposer un cours.</span>
                            <br>
                            <a href="{{ path('app_become-tutor') }}" style="color:#fff" class="hoveredItems lineHoverEffect"><span>Clique ici pour faire la demande.</span></a>
                            <span class="cross">&times;</span>
                        </div>
                        <div class="background">
                        </div>
                    </div>
                {% endif %}
            {# {% include "components/_footer.html.twig" %} #}
            </div>
        {% else %}
            {% include 'components/_landingPage.html.twig' %}
        {% endif %}
    </div>
{% endblock %}