{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_classroom') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="form--container">
                <div class="form--content">
                    {{ form_start(form) }}
                        {{ form_row(form.name, {"label": "Numéro", 'attr': {'class':'hoveredItems'}}) }}
                        <button type="submit" class="btn hoveredItems">Ajouter</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="classrooms--container">
                {% for classroom in classrooms %}
                    {# {% set subjectHasSessions = subject.sessions is empty ? false : subject.sessions | length %} #}
                    <div class="classroomContent--container">
                        <div class="content classroom">
                            <span>{{ classroom.name }}</span>
                        </div>
                        
                        <div class="content manage">
                            <button title="Supprimer la salle de cours." onclick="event.preventDefault(); document.querySelector('#js-classroom-delete-form-{{ classroom.id }}').submit()" class="delete hoveredItems refuse">
                                <span>🗑️</span>
                            </button>
                            <form 
                                id="js-classroom-delete-form-{{ classroom.id }}"
                                display="none" 
                                hidden
                                action="{{ path('app_classroom_delete', {"id": classroom.id}) }}" 
                                method="POST">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-classroom' ~ classroom.id) }}"/>
                            </form> 
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
