{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_semester') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    {% include "components/_submitModals.html.twig" %}
    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="form--container">
                <div class="form--content">
                    {{ form_start(form) }}
                        <div class="collapse collapse_3">
                            {{ form_row(form.startYear, {'label':'Année du début', 'attr': {'class':'hoveredItems','data-year':'start'}}) }} 
                            {{ form_row(form.endYear, {'label':'Année de fin', 'attr': {'class':'hoveredItems','data-year':'end'}}) }} 
                            {{ form_row(form.yearOrder, {'label':'Semestre', 'attr': {'class':'hoveredItems'}}) }} 
                        </div>
                        <p>IMPORTANT - Après avoir créé un nouveau semestre :</p>
                        <ul class="notError">
                            <li>Le compteur d'heures de cours validées sera bloqué pour le semestre actuel (vous en aurez toujours accès si vous ne l'avez pas suprimmé)</li>
                            <li>Toutes les nouvelles heures de cours validées seront attribuées dans le nouveau semestre</li>
                            {# <li>Les étudiants ne pourront plus accéder aux cours proposés durant le semestre actuel ;</li> #}
                            {# <li>Les étudiants seront prévenus par mail ;</li> #}
                            <li>S'il y a déjà {{ semesterLimit }} semestres sauvegardés, le plus ancien sera suprimmé afin de faire de la place pour le nouveau</li>
                        </ul>
                        {% include "components/_button.html.twig" with {
                            "link": "",
                            "class_modifier": "w_100p",
                            "title": "Ajouter",
                            "type": "submit",
                            "isDisabled": false
                        } %}
                        {# <button type="submit" class="btn hoveredItems">Ajouter</button> #}
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="semesters--container">
                {% for semester in semesters %}
                    <div class="semesterContent--container">
                        <div class="content semester">
                            <span>{{ semester }}</span>
                        </div>
                        
                        <div class="content manage">
                            {% if loop.index0 == 0 %}
                                <button title="Supression impossible" disabled class="disabled hoveredItems refuse">
                                    <span>🗑️</span>
                                </button>
                            {% else %}
                                <button title="Supprimer ce semestre" data-id="{{ semester.id }}" onclick="event.preventDefault();" class="delete hoveredItems refuse">
                                    <span>🗑️</span>
                                </button>
                            {% endif %}
                            <form id="js-semester-delete-form-{{ semester.id }}" hidden="hidden" action="{{ path('app_semester_delete', {"id": semester.id}) }}" method="POST">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-semester' ~ semester.id) }}"/>
                            </form> 
                        </div>
                    </div>
                {% endfor %}
                <span>{{ semesters | length }}/5</span>
                <button>?</button> 
                {# The button must display the hidden div (hover or click) #}
                <div hidden>
                    <p>Nous limitons la quantité de semestres sauvegardés à 5 afin d'améliorer les performances de l'application à travers l'optimisation de la mémoire. Cela est également important pour ne pas surcharger nos serveurs, ce qui peut avoir un impact environnemental.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
