{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_classroom') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="form--container">
                <div class="form--content">
                    {{ form_start(form) }}
                        <div class="collapse collapse_3">
                            {{ form_row(form) }} 
                        </div>
                        <p>Après avoir créé un nouveau semestre :</p>
                        <ul>
                            <li>Le compteur d'heures de cours validées sera bloqué pour le semestre actuel (vous en aurez toujours accès si vous ne l'avez pas suprimmé ) ;</li>
                            <li>Toutes les nouvelles heures de cours validées seront attribuées au nouveau semestre ;</li>
                            <li>Les étudiants ne pourront plus accéder aux cours proposés durant le semestre actuel ;</li>
                            <li>Les étudiants seront prévenus par mail ;</li>
                        </ul>
                        <button type="submit" class="form--btn form--btn__register hoveredItems">Ajouter</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="classrooms--container">
                {% for semester in semesters %}
                    {% if loop.index0 == 0 %}
                        <span>Session actuelle</span>
                    {% else %}
                        {# DISABLE DELETE AND DON'T COMPILE FORM #}
                    {% endif %}
                    <div class="classroomContent--container">
                        <div class="content classroom">
                            <span>{{ semester }}</span>
                        </div>
                        
                        <div class="content manage">
                            <button title="Supprimer ce semestre" onclick="event.preventDefault(); document.querySelector('#js-semester-delete-form-{{ semester.id }}').submit()" class="delete hoveredItems refuse">
                                <span>🗑️</span>
                            </button>
                            <form 
                                id="js-semester-delete-form-{{ semester.id }}"
                                display="none" 
                                hidden
                                action="{{ path('app_semester_delete', {"id": semester.id}) }}" 
                                method="POST">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-semester' ~ semester.id) }}"/>
                            </form> 
                        </div>
                    </div>
                {% endfor %}
                <span>{{ semesters | length }}/5</span>
                <button>?</button> 
                {# The button must display the hidden div (hover or click) #}
                <div hidden>
                    <p>Nous limitons la quantité de semestres sauvegardés à 5 afin d'améliorer les performances de l'application à travers l'optimisation de la mémoire. Cela est également important pour ne pas surcharger nos serveurs, ce qui peut avoir un impact environnemental.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
