{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_sessions_log') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
	<div class="smooth--container" data-lg-smooth>
        <form 
            action="" 
            method="GET"
            id="js-semester">
            <p>Semester :</p>
            <select name="semester" onchange="document.querySelector('#js-semester').submit();">
                {% for semester in semesters %}
                    <option value="{{ semester.id }}">{{ semester.id }}</option>
                {% endfor %}
            </select>
        </form>
        <div class="container">
            {% if sessions is empty == false %}
                {% for session in sessions %}
                    <div class="logs--container">
                        <span>Titre du cours : {{ session.title }}</span>
                        <span>Tuteur : {{ session.tutor }}</span>
                        <span>Le {{ session.dateTime | date('d-m-Y') }} à {{ session.dateTime | date('h:i') }}</span>

                        {% if session.timeFormat == 1 %}
                            {% set timeFormatMessage = "30 minutes" %}
                        {% elseif session.timeFormat == 2 %}
                            {% set timeFormatMessage = "45 minutes" %}
                        {% elseif session.timeFormat == 3 %}
                            {% set timeFormatMessage = "1 heure" %}
                        {% endif %}
                        <span>Durée : {{ timeFormatMessage }}</span>

                        {% if session.participants is empty %}
                            <span>Statut : Cours non validé</span>
                            {% if session.students is empty %}
                                <span>Pas d'étudiants inscrits</span>
                            {% else %}
                                <span>Étudiants inscrits :</span>
                                <ul>
                                    {% for student in session.students %}
                                        <li>{{ student }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% else %}
                            <span>Cours validé</span>
                            <span>Étudiants inscrits :</span>
                            <ul>            
                                {% for student in session.students %}
                                    <li>{{ student }} :
                                    {% for participant in session.participants %}
                                        {% if student.id == participant.studentId %}
                                            {{ participant["present"] == true ? "Présent" : "Absent" }}   
                                        {% endif %}
                                    {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <span><b>Pas de sessions</b></span>
            {% endif %}
        </div>
    </div>

{% endblock %}