{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_sessions_log') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
	<div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="form--container">
                <div class="form--content">
                    <form action="{{ path('app_sessions_log') }}" method="POST" id="js-filters">
                        <div class="collapse collapse_2">
                            <div>
                                <span>Semestre</span>
                                <select name="semester" class="hoveredItems" onchange="document.querySelector('#js-filters').submit();">
                                    {% for semester in semesters %}
                                        {% if semester == currentSemester %}
                                            <option value="{{ semester.id }}" selected="selected">{{ semester }} {{ loop.index0 == 0 ? "(Semestre actuel)" : ""}}</option>
                                        {% else %}
                                            <option value="{{ semester.id }}">{{ semester }} {{ loop.index0 == 0 ? "(Semestre actuel)" : ""}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <span>Tuteur</span>
                                <select name="tutor" class="hoveredItems" onchange="document.querySelector('#js-filters').submit();">
                                    {% if currentTutor == 'all' %}
                                        <option value="all" selected="selected">Tous</option>
                                    {% else %}
                                        <option value="all">Tous</option>
                                    {% endif %}
                                    {% for tutor in tutors %}
                                        {% if tutor == currentTutor %}
                                            <option value="{{ tutor.id }}" selected="selected">{{ tutor }}</option>
                                        {% else %}
                                            <option value="{{ tutor.id }}">{{ tutor }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    {# {% for tutor in tutors %}
                                        <option value="{{ tutor.id }}">{{ tutor }}</option>
                                    {% endfor %} #}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="logs--container">
                {% if sessions is empty == false %}
                    {% for session in sessions %}
                        <div class="logs--content">
                            <span>Titre du cours : {{ session.title }}</span>
                            <span>Tuteur : {{ session.tutor }}</span>
                            <span>Le {{ session.dateTime | date('d-m-Y') }} à {{ session.dateTime | date('h:i') }}</span>

                            {% if session.timeFormat == 1 %}
                                {% set timeFormatMessage = "30 minutes" %}
                            {% elseif session.timeFormat == 2 %}
                                {% set timeFormatMessage = "45 minutes" %}
                            {% elseif session.timeFormat == 3 %}
                                {% set timeFormatMessage = "1 heure" %}
                            {% endif %}
                            <span>Durée : {{ timeFormatMessage }}</span>

                            {% if session.participants is empty %}
                                <span>Statut : Cours non validé</span>
                                {% if session.students is empty %}
                                    <span>Pas d'étudiant.es inscrit.es</span>
                                {% else %}
                                    <span>Étudiant.es inscrit.es :</span>
                                    <ul class="notError">
                                        {% for student in session.students %}
                                            <li>{{ student }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% else %}
                                <span>Cours validé</span>
                                <span>Liste d'appel :</span>
                                <ul class="notError">            
                                    {% for student in session.students %}
                                        <li>{{ student }} ({{ student.email }}) :
                                        {% for participant in session.participants %}
                                            {% if student.id == participant.studentId %}
                                                {{ participant.present == true ? "✔️" : "❌" }}   
                                            {% endif %}
                                        {% endfor %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <span><b>Pas de sessions</b></span>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}