{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_subject') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="form--container">
                <div class="form--content">
                    {{ form_start(form) }}
                        <div class="collapse collapse_3">
                            {{ form_row(form.title, {"label": "Titre", 'attr': {'class':'hoveredItems'}}) }}
                            {{ form_row(form.semester, {"label": "Semestre", 'attr': {'class':'hoveredItems'}}) }}
                            {{ form_row(form.short, {"label": "Abréviation", 'attr': {'class':'hoveredItems'}}) }}
                        </div>
                        {% include "components/_button.html.twig" with {
                            "link": "",
                            "class_modifier": "w_100p",
                            "title": "Ajouter",
                            "type": "submit"
                        } %}
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="subjects--container">
                {% for subject in subjects %}
                    {% set subjectHasSessions = subject.sessions is empty ? false : subject.sessions | length %}
                    <div class="subjectContent--container">
                        <div class="content title">
                            <span>{{ subject.title | upper }}</span>
                        </div>

                        <div class="content semester">
                            <span>Semestre {{ subject.semester }}</span>
                        </div>
                        
                        <div class="content faculty">
                            <span>{{ subject.faculty.name | capitalize }}</span>
                        </div>
                        
                        {# Nombre de cours où le module est utilisé #}
                        <div class="content statut">
                            {% if subjectHasSessions == false %}
                                <span>Module non utilisé</span>
                            {% else %}
                                <span>Module utilisé dans {{ subjectHasSessions }} cours</span>
                            {% endif %}
                        </div>
                        
                        <div class="content manage">
                            {# {% if subjectHasSessions %}
                                <button title="Il y a au moins un cours qui existe avec ce module, suppression impossible." disabled class="hoveredItems refuse disabled">
                                    <span>🗑️</span>
                                </button>
                            {% else %} #}
                                <button title="Supprimer le module." onclick="event.preventDefault(); document.querySelector('#js-subject-delete-form-{{ subject.id }}').submit()" class="delete hoveredItems refuse">
                                    <span>🗑️</span>
                                </button>
                                <form 
                                    id="js-subject-delete-form-{{ subject.id }}"
                                    display="none" 
                                    hidden
                                    action="{{ path('app_subject_delete', {"id": subject.id}) }}" 
                                    method="POST">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-subject' ~ subject.id) }}"/>
                                </form>
                            {# {% endif %} #}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
