{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_users') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container" data-lg-smooth>
        <div class="search--container">
            <input type="text" class="hoveredItems">
        </div>

        <div class="content--container">
            {% if users is empty == false %}
                {% set roleViewLabels = {
                    "ROLE_STUDENT": "Étudiant",
                    "ROLE_TUTOR": "Étudiant tuteur",
                    "ROLE_SECRETARY": "Secrétaire",
                    "ROLE_ADMIN": "Administrateur",
                } %}

                <div class="userContent--container userContent--container__filter">
                    <div class="filter content tutorHours">
                        <button class="hoveredItems" data-id="tutorHours" data-active="line">
                            <span>Heures validées</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>

                    <div class="filter content firstname">
                        <button class="hoveredItems filter__active" data-id="firstname" data-active="down">
                            <span>Prénom</span>
                            <svg id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg hidden display="none" id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>

                    <div class="filter content lastname">
                        <button class="hoveredItems" data-id="lastname" data-active="line">
                            <span>Nom</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="filter content mail">
                        <button class="hoveredItems" data-id="mail" data-active="line">
                            <span>Mail</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="filter content role">
                        <button class="hoveredItems" data-id="role" data-active="line">
                            <span>Rôle</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="filter content statut">
                        <button class="hoveredItems" data-id="statut" data-active="line">
                            <span>Statut</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="content manage hidden">
                    </div>
                </div>

                {% for user in users %}
                    {% if user.isValid == 2 %}
                        <div class="userContent--container" data-statut="valide">
                    {% elseif user.isValid == 3 %}
                        <div class="userContent--container" data-statut="refuse">
                    {% else %}
                        <div class="userContent--container">
                    {% endif %}
                        
                        <div class="content tutorHours">
                            <span>{{ tutorHours[loop.index0] | default("N/A") }}</span>
                        </div>
                        <div class="content firstname">
                            <span>{{ user.firstName | upper }}</span>
                        </div>
                        <div class="content lastname">
                            <span>{{ user.lastName | capitalize }}</span>
                        </div>
                        
                        <div class="content mail">
                            <span>{{ user.email | lower }}</span>
                        </div>
                        
                        <div class="content role">
                            {% set userRole = user.roles[user.roles | length - 2] %}
                            <span>{{ roleViewLabels[userRole] }}</span> {# -1 for length index and -1 for ROLE_USER which always goes last #}
                        </div>
                        
                        <div class="content statut">
                            {% if user.isValid == 1 %}
                                <span>En attente</span>
                            {% elseif user.isValid == 2 %}
                                <span>Validé.e</span>
                            {% else %}
                                <span>Refusé.e</span>
                            {% endif %}
                        </div>
                        
                        <div class="content manage">
                            {% if user.isValid == 1 %}
                                <button title="Valider l'utilisateur." onclick="event.preventDefault(); document.querySelector('#js-user-validate-form-{{ user.id }}').submit()" class="hoveredItems validate">
                                    <span>✔️</span>
                                </button>
                                <button title="Refuser l'utilisateur." onclick="event.preventDefault(); document.querySelector('#js-user-cancel-form-{{ user.id }}').submit()" class="hoveredItems refuse">
                                    <span>❌</span>
                                </button>
                                <form 
                                    id="js-user-validate-form-{{ user.id }}"
                                    display="none" 
                                    hidden
                                    action="{{ path('app_user_validate', {"id": user.id}) }}" 
                                    method="POST">
                                    <input type="hidden" name="token" value="{{ csrf_token('validate-user' ~ user.id) }}"/>
                                    {# <input type="hidden" name="_method" value="PUT"/> #}
                                </form>
                                <form 
                                    id="js-user-cancel-form-{{ user.id }}"
                                    display="none" 
                                    hidden
                                    action="{{ path('app_user_cancel', {"id": user.id}) }}" 
                                    method="POST">
                                    <input type="hidden" name="token" value="{{ csrf_token('cancel-user' ~ user.id) }}"/>
                                    {# <input type="hidden" name="_method" value="PUT"/> #}
                                </form>

                            {% else %}
                                <button title="Impossible de changer le statut de l'utilisateur." disabled class="validate hoveredItems lineHoverEffectvalidate disabled">
                                    <span>✔️</span>
                                </button>
                                <button title="Impossible de changer le statut de l'utilisateur." disabled class="refuse hoveredItems lineHoverEffectrefuse disabled">
                                    <span>❌</span>
                                </button>
                            {% endif %}
                            
                            {% if (userRole == "ROLE_ADMIN") and (adminCount == 1) and (app.user == user) %}
                                <button title="Supression bloquée" disabled class="hoveredItems refuse disabled">
                                    <span>🗑️</span>
                                </button>
                            {% else %}
                                <button title="Suprimmer l'utilisateur" onclick="event.preventDefault(); document.querySelector('#js-user-delete-form-{{ user.id }}').submit()" class="delete hoveredItems refuse">
                                    <span>🗑️</span>
                                </button>
                                <form 
                                    id="js-user-delete-form-{{ user.id }}"
                                    display="none" 
                                    hidden
                                    action="{{ path('app_user_delete', {"id": user.id}) }}" 
                                    method="POST">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-user' ~ user.id) }}"/>
                                    {# <input type="hidden" name="_method" value="PUT"/> #}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <h2>Pas d'utilisateurs à valider</h2>
            {% endif %}
        </div>

        {% include "components/_footer.html.twig" %}
    </div>

{% endblock %}
