{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    {% if users is empty == false %}
        {% for user in users %}
            <div>
                <p>{{ user.firstName | capitalize }} {{ user.lastName | upper }}</p>
                <p>{{ user.email | lower }}</p>
                <p>{{ user.roles[user.roles | length - 2] }}</p>
                <a href="#" onclick="event.preventDefault(); document.querySelector('#js-user-validate-form').submit();">Valider</a>
                <a href="#" onclick="event.preventDefault(); document.querySelector('#js-user-cancel-form').submit();">Supprimer</a>
                <form 
                    id="js-user-validate-form"
                    display="none" 
                    action="{{ path('app_user_validate', {"id": user.id}) }}" 
                    method="POST">
                    <input type="hidden" name="token" value="{{ csrf_token('validate-user' ~ user.id) }}"/>
                    {# <input type="hidden" name="_method" value="PUT"/> #}
                </form>
                <form 
                    id="js-user-cancel-form"
                    display="none" 
                    action="{{ path('app_user_cancel', {"id": user.id}) }}" 
                    method="POST">
                    <input type="hidden" name="token" value="{{ csrf_token('cancel-user' ~ user.id) }}"/>
                    {# <input type="hidden" name="_method" value="PUT"/> #}
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h2>Pas d'utilisateurs à valider</h2>
    {% endif %}
{% endblock %}
