{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_users') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container" data-lg-smooth>
        <div class="search--container">
            <div class="search--content">
                <input type="text" placeholder="Rechercher un utilisateur" class="hoveredItems">
            </div>
        </div>

        <div class="content--container">
            {% if users is empty == false %}
                {% set roleViewLabels = [
                    "Étudiant",
                    "Étudiant tuteur",
                    "Secrétaire",
                    "Administrateur",
                ] %}

                <div class="userContent--container userContent--container__filter">
                    <div class="filter content tutorHours">
                        <button class="hoveredItems" data-id="tutorHours" data-active="line">
                            <span>Heures validées</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg hidden display="none" id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>

                    <div class="filter content firstname">
                        <button class="hoveredItems filter__active" data-id="firstname" data-active="line">
                            <span>Prénom</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg hidden display="none" id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>

                    <div class="filter content lastname">
                        <button class="hoveredItems" data-id="lastname" data-active="line">
                            <span>Nom</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg hidden display="none" id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="filter content mail">
                        <button class="hoveredItems" data-id="mail" data-active="line">
                            <span>Mail</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg hidden display="none" id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="filter content role">
                        <button class="hoveredItems" data-id="role" data-active="line">
                            <span>Rôle</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg hidden display="none" id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="filter content statut">
                        <button class="hoveredItems" data-id="statut" data-active="down">
                            <span>Statut</span>
                            <svg hidden display="none" id="arrow__down" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_1" data-name="Polygone 1" d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)"/>
                            </svg>
                            <svg hidden display="none" id="arrow__up" xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                <path id="Polygone_2" data-name="Polygone 2" d="M6.5,0,13,11H0Z"/>
                            </svg>
                            <svg hidden display="none" id="line" xmlns="http://www.w3.org/2000/svg" width="16.5" height="2" viewBox="0 0 16.5 2">
                                <g id="Groupe_48" data-name="Groupe 48" transform="translate(-529 -601.5)">
                                    <line id="Ligne_32" data-name="Ligne 32" x2="5.5" transform="translate(530 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                    <line id="Ligne_33" data-name="Ligne 33" x2="5.5" transform="translate(539 602.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="content manage hidden">
                    </div>
                </div>

                {% for user in users %}
                    {% if (roles.1 in user.roles) and (user.roles | length == 2) %}
                        {% set isTutor = true %}
                    {% else %}
                        {% set isTutor = false %}
                    {% endif %}

                    {% if isTutor == true %}
                        <form action="{{ path('app_sessions_log') }}" method="POST" hidden="hidden" id="js-sessions-log-tutor-{{ user.id }}">
                            <input type="hidden" name="tutor" value="{{ user.id }}">
                        </form>
                    {% endif %}

                    {% set userRoleIndex = user.roles | length - 1 %}

                    {# {% if user.isValid == 2 %} #}
                        {% if isTutor == true %}
                            <div class="userContent--container userContent--container__user tutor hoveredItems" 
                                data-tutorHours="{{ tutorHours[loop.index0] | default("N/A") }}" 
                                data-firstName="{{ user.firstName }}" 
                                data-lastName="{{ user.lastName }}" 
                                data-mail="{{ user.email }}" 
                                data-role="{{ roleViewLabels[userRoleIndex] }}"
                                data-statut="{{ user.isValid }}"
                                onclick="document.querySelector('#js-sessions-log-tutor-{{ user.id }}').submit();">
                        {% else %}
                            <div class="userContent--container userContent--container__user" 
                                data-tutorHours="{{ tutorHours[loop.index0] | default("N/A") }}" 
                                data-firstName="{{ user.firstName }}" 
                                data-lastName="{{ user.lastName }}" 
                                data-mail="{{ user.email }}" 
                                data-role="{{ roleViewLabels[userRoleIndex] }}"
                                data-statut="{{ user.isValid }}">
                        {% endif %}
                    {# {% endif %} #}                    
                        
                        <div class="content tutorHours">
                            <span>{{ tutorHours[loop.index0] | default("N/A") }}</span>
                        </div>

                        <div class="content firstname">
                            <span>{{ user.firstName | upper }}</span>
                        </div>
                        <div class="content lastname">
                            <span>{{ user.lastName | capitalize }}</span>
                        </div>

                        <div class="content mail">
                            <span>{{ user.email | lower }}</span>
                        </div>
                        
                        <div class="content role">
                            {# {% set userRoleIndex = user.roles | length - 1 %} #}
                            <span>{{ roleViewLabels[userRoleIndex] }}</span>

                            {% if (userRoleIndex ==  1) and (user.isValid == 2) %}
                                {% include "components/forms/_usersAction.html.twig" with {
                                    'action': 'demote',
                                    'title': "Revoquer les droits de tuteur",
                                    'icon': '🚫'
                                } %}
                            {% endif %}
                        </div>
                        
                        <div class="content statut">
                            {% if user.isValid == 1 %}
                                <span>En attente</span>
                            {% elseif user.isValid == 2 %}
                                <span>Validé.e</span>
                            {% else %}
                                <span>Refusé.e</span>
                            {% endif %}
                        </div>
                        
                        <div class="content manage">
                            {% if user.isValid == 1 %}

                                {% include "components/forms/_usersAction.html.twig" with {
                                    'action': 'validate',
                                    'title': "Valider cette demande",
                                    'icon': '✔️'
                                } %}

                                {% include "components/forms/_usersAction.html.twig" with {
                                    'action': 'refuse',
                                    'title': "Refuser cette demande",
                                    'icon': '❌'
                                } %}

                            {% else %}
                                <button 
                                    title="Action bloquée" 
                                    disabled="disabled" 
                                    class="validate hoveredItems lineHoverEffectvalidate disabled">
                                    <span>✔️</span>
                                </button>
                                <button 
                                    title="Action bloquée" 
                                    disabled ="disabled"
                                    class="refuse hoveredItems lineHoverEffectrefuse disabled">
                                    <span>❌</span>
                                </button>
                            {% endif %}
                            
                            {% if (userRoleIndex == 3) and (adminCount == 1) or (app.user == user) or (userRoleIndex == 2) %}
                                <button title="Supression bloquée" disabled class="hoveredItems delete disabled">
                                    <span>🗑️</span>
                                </button>
                            {% else %}
                                {% include "components/forms/_usersAction.html.twig" with {
                                    'action': 'delete',
                                    'title': "Suprimmer l'utilisateur",
                                    'icon': '🗑️'
                                } %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <h2>Pas d'utilisateurs à valider</h2>
            {% endif %}
        </div>

        {% include "components/_footer.html.twig" %}
    </div>

{% endblock %}
