{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_sessions_pending') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

{% if sessions is empty == false %}
    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            <div class="requests--container">
                {% for session in sessions %}
                    <div class="request--container">
                        <div class="request--content">
                            <span>Titre : <b>{{ session.title }}</b></span>
                            <span>Module : <b>{{ session.subject }}</b></span>
                            <span>Département : <b>{{ session.tutor.faculty.name }}</b></span>
                            <span>Étudiant référent : <b>{{ session.tutor }} - {{ session.tutor.year }}e année ({{ session.tutor.email }})</b></span>
                            <span>Date : <b>{{ session.dateTime | date('d/m/Y') }}</b> à <b>{{ session.dateTime | date('h') }}h{{ session.dateTime | date('i') }}</b></span>
                            <span>Pour <b>{{ session.studentLimit + 1 }}</b> étudiants</span>
                        </div>

                        {% if session.comment is null == false %}
                            <span>{{ session.comment }}</span>
                        {% endif %}
                        
                        <form action="{{ path('app_session_validate', {'id': session.id}) }}" id="js-session-validate-{{ session.id }}" method="POST">
                            <div id="room" class="hoveredItems">
                                {% for classroom in classrooms %}
                                    <div class="choice--container">
                                        <label for="classroom-{{ classroom.id }}-for-{{ session.id }}" class="required notRequired">
                                            <input type="radio" id="classroom-{{ classroom.id }}-for-{{ session.id }}" name="classroom-for-{{ session.id }}" required="required" value="{{ classroom.id }}"/>
                                            <div class="choice">
                                                <span>{{ classroom.name }}</span>
                                            </div>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('session-validate' ~ session.id) }}"/>
                        </form>

                        <form action="{{ path('app_session_refuse', {'id': session.id}) }}" method="POST" id="js-session-refuse-{{ session.id }}" display="none">
                            <input type="hidden" name="token" value="{{ csrf_token('session-refuse' ~ session.id) }}"/>
                        </form>

                        <div class="buttons">
                            <button class="btn btn__w_45p hoveredItems" onclick="event.preventDefault(); document.querySelector('#js-session-validate-{{ session.id }}').submit();">
                                <span>Valider</span>
                            </button>
                            <button class="btn btn__w_45p hoveredItems" onclick="event.preventDefault(); document.querySelector('#js-session-refuse-{{ session.id }}').submit();">
                                <span>Refuser</span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <p>Pas de cours à valider</p>
{% endif %}

{% endblock %}