{% extends 'base.html.twig' %}

{% block title %}Hello SecretaryController!{% endblock %}

{% block body %}
{% if sessions is empty == false %}
    {% for session in sessions %}
        <div>
            {# haute importance #}
            <h2>{{ session.classroom.name }}</h2>
            <h3>{{ session.datetime | date('d-m-Y') }}</h3>
            <h3>à {{ session.datetime | date('h:i') }}</h3>
            <h3>Pour {{ session.studentLimit }} étudiants</h3>
            <h4>Étudiant référent : {{ session.tutor.firstName }} {{ session.tutor.lastName }} (DUT{{ session.tutor.year }})</h4>

            <button onclick="event.preventDefault(); document.querySelector('#js-validate-session-{{ session.id }}')">Valider créneau</button>
            <form
                action="{{ path('app_session_validate', {'id': session.id}) }}"
                id="js-validate-session-{{ session.id }}"
                method="POST"
                display="none">
            </form>
            
            {# onclick display popup with classroom select #}
            <button>Proposer une salle différente</button> 
            <div display="none">
                <form action="{{ path('app_session_counter', {'id': session.id}) }}">
                    {% for classroom in classrooms %}
                        <label for="classroom-{{ classroom.name }}">{{ classroom.name }}</label>
                        <input id="classroom-{{ classroom.name }}" name="classroom-{{ classroom.name }}" type="checkbox">
                    {% endfor %}
                    <input type="hidden" name="token" value="{{ csrf_token('session-counter' ~ session.id) }}"/>
                    <button>Valider</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Pas de cours à valider</p>
{% endif %}

{% endblock %}