{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_session') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="smooth--container" data-lg-smooth>
        <div class="global--container">
            <div class="search--container" data-lg-sticky="top">
                <div class="search--content">
                    {# <div class="gap__search"></div> #}
                    {% for subject in subjects %}
                        <span>{{ subject }}</span>
                    {% endfor %}
                    {% for tutor in tutors %}
                        <span>{{ tutor }}</span>
                    {% endfor %}
                    {# {% for session in sessions %}
                        <span>{{ session }}</span>
                    {% endfor %} #}
                    <div class="categorie--container">
                        <div class="categorie">
                            <span>Matière</span>
                        </div>
                        <div class="buttons--container">
                            <label for="lorem1" class="hoveredItems">
                                <input name="lorem1" id="lorem1" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem2" class="hoveredItems">
                                <input name="lorem2" id="lorem2" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem3" class="hoveredItems">
                                <input name="lorem3" id="lorem3" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem4" class="hoveredItems">
                                <input name="lorem4" id="lorem4" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem5" class="hoveredItems">
                                <input name="lorem5" id="lorem5" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem6" class="hoveredItems">
                                <input name="lorem6" id="lorem6" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="categorie--container">
                        <div class="categorie">
                            <span>Lorem</span>
                        </div>
                        <div class="buttons--container">
                            <label for="lorem1" class="hoveredItems">
                                <input name="lorem1" id="lorem1" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem2" class="hoveredItems">
                                <input name="lorem2" id="lorem2" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem3" class="hoveredItems">
                                <input name="lorem3" id="lorem3" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem4" class="hoveredItems">
                                <input name="lorem4" id="lorem4" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem5" class="hoveredItems">
                                <input name="lorem5" id="lorem5" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem6" class="hoveredItems">
                                <input name="lorem6" id="lorem6" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="categorie--container">
                        <div class="categorie">
                            <span>Lorem</span>
                        </div>
                        <div class="buttons--container">
                            <label for="lorem1" class="hoveredItems">
                                <input name="lorem1" id="lorem1" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem2" class="hoveredItems">
                                <input name="lorem2" id="lorem2" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem3" class="hoveredItems">
                                <input name="lorem3" id="lorem3" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem4" class="hoveredItems">
                                <input name="lorem4" id="lorem4" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem5" class="hoveredItems">
                                <input name="lorem5" id="lorem5" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                            <label for="lorem6" class="hoveredItems">
                                <input name="lorem6" id="lorem6" type="checkbox" hidden>
                                <div>
                                    <span>Lorem</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="session--container">
                {% for session in sessions %}
                    {% if app.user in session.students %}
                        {% set isDisabled = true %}
                        {# join session disabled #}
                    {% else %}
                        {# join session enabled #}
                    {% endif %}
                    <div class="card--container">
                        <button class="inscription hoveredItems" onclick="document.querySelector('#js-join-session-{{ session.id }}').submit();">
                            <div class="card--hovered">
                                <div class="text">
                                    <span>S</span>
                                    <span>'</span>
                                    <span>I</span>
                                    <span>N</span>
                                    <span>S</span>
                                    <span>C</span>
                                    <span>R</span>
                                    <span>I</span>
                                    <span>R</span>
                                    <span>E</span>
                                </div>
                                <div class="background">
                                </div>
                            </div>
                            <div class="card">
                                <div class="card--content">
                                    <div class="titre">
                                        <span>{{ session.title }}</span>
                                    </div>
                                    <div class="description">
                                        <span>{{ session.description }}</span>
                                    </div>
                                    <div class="name">
                                        <span>{{ session.tutor.firstName | capitalize ~ " " ~ session.tutor.lastName | capitalize }}</span>
                                    </div>
                                    <div class="date">
                                        <span>{{ session.datetime | date('d/m/Y') }}</span>
                                        <br>
                                        <span>{{ session.datetime | date('h') }}h{{ session.datetime | date('i') }}</span>
                                    </div>
                                    <div class="environnement">
                                        <span>{{ (session.faceToFace == 1) ? "Présentiel" : "Distanciel" }}</span>
                                    </div>
                                </div>
                                <div class="card--subject">
                                    <span>{{ session.subject }}</span>
                                </div>

                                {% set participantsLength = session.participants | length %}
                                {% if participantsLength == 0 %}
                                    {% set participantsMessage = "NOUVEAU" %}
                                {% elseif participantsLength == 1 %}
                                    {% set participantsMessage = "1 étudiant(e) déjà inscrit(e)" %}
                                {% else %}
                                    {% set participantsMessage = participantsLength ~ " étudiants déjà inscrits" %}
                                {% endif %}
                                <p>{{ participantsMessage }}</p>
                            </div>
                        </button>
                        <form 
                            method="POST" 
                            hidden="hidden" 
                            action="{{ path("app_session_join", {"id": session.id}) }}"
                            id="js-join-session-{{ session.id }}">
                            <input type="hidden" name="token" value="{{ csrf_token('join-session' ~ session.id) }}"/>
                        </form>
                    </div>
                {% endfor %}
            </div>

            {% include "components/_footer.html.twig" %}
        </div>
    </div>


{% endblock %}
