{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_session') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    <div class="smooth--container" data-lg-smooth>
        <div class="global--container">
            <div class="filter--container">
                <button class="filterButton hoveredItems">
                    Filtres 
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.708" height="6.707" viewBox="0 0 12.708 6.707">
                        <path id="Union_7" data-name="Union 7" d="M14,0,8,6ZM2,0,8,6Z" transform="translate(-1.646 0.354)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                    </svg>
                </button>
                <div class="filter--content">
                    <div class="categorie tutors--container">
                        <span>Tuteurs<span>
                        <div class="list">
                            {% for tutor in tutors %}
                                <label for="{{ tutor.id }}" class="hoveredItems">
                                    <input name="{{ tutor.id }}" id="{{ tutor.id }}" type="checkbox" hidden>
                                    <div>
                                        <span>{{ tutor.firstname }} {{ tutor.lastname }}</span>
                                    </div>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="categorie subject--container">
                        <span>Matières<span>
                        <div class="list">
                            {% for subject in subjects %}
                                <label for="{{ subject.id }}_{{subject.semester }}" class="hoveredItems">
                                    <input name="{{ subject.id }}_{{subject.semester }}" id="{{ subject.id }}_{{subject.semester }}" type="checkbox" hidden>
                                    <div>
                                        <span>{{ subject }}</span>
                                    </div>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="categorie environnement--container">
                        <span>Environnement<span>
                        <div class="list">
                            <label for="presentiel" class="hoveredItems">
                                <input name="presentiel" id="presentiel" type="checkbox" hidden>
                                <div>
                                    <span>Présentiel</span>
                                </div>
                            </label>
                            <label for="distanciel" class="hoveredItems">
                                <input name="distanciel" id="distanciel" type="checkbox" hidden>
                                <div>
                                    <span>Distanciel</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="session--container">
                {% for session in sessions %}
                    <div class="card--container">
                        <button class="inscription hoveredItems">
                            <div class="card--hovered">
                                <div class="text">
                                    <div>
                                        <span>E</span>
                                        <span>N</span>
                                        <span> </span>
                                        <span>S</span>
                                        <span>A</span>
                                        <span>V</span>
                                        <span>O</span>
                                        <span>I</span>
                                        <span>R</span>
                                        <span> </span>
                                        <span>P</span>
                                        <span>L</span>
                                        <span>U</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="background">
                                </div>
                            </div>
                            <div class="card">
                                <div class="card--content">
                                    <div class="text">
                                        <span class="title">{{ session.title }}</span>
                                        <br>
                                        <span class="subject">{{ session.subject }}</span>
                                    </div>
                                    {# <div class="description">
                                        <span>{{ session.description }}</span>
                                    </div> #}
                                    <div class="text">
                                        <span>Par </span><span class="name">{{ session.tutor.firstName | capitalize ~ " " ~ session.tutor.lastName | capitalize }}</span>
                                        <br>
                                        <span>Le <b>{{ session.datetime | date('d/m/Y') }}</b> à <b>{{ session.datetime | date('h') }}h{{ session.datetime | date('i') }}</b> en <b>{{ (session.faceToFace == 1) ? "Présentiel" : "Distanciel" }}</b></span>
                                    </div>
                                </div>
                                <div class="card--participants">
                                    {% set participantsLength = session.students | length %}
                                    {% if participantsLength == 0 %}
                                        {% set participantsMessage = "NOUVEAU" %}
                                    {% else %}
                                        {% set participantsMessage = participantsLength ~ "/" ~ session.studentLimit %}
                                    {% endif %}
                                    <span>{{ participantsMessage }}</span>
                                </div>
                                {% for sheesh in session.participants %}
                                    <span>{{ sheesh }}</span>
                                {% endfor %}
                            </div>
                        </button>
                        <form 
                            method="POST" 
                            hidden="hidden" 
                            action="{{ path("app_session_join", {"id": session.id}) }}"
                            id="js-join-session-{{ session.id }}">
                            <input type="hidden" name="token" value="{{ csrf_token('join-session' ~ session.id) }}"/>
                        </form>
                    </div>
                {% endfor %}
            </div>

            {% include "components/_footer.html.twig" %}
        </div>
    </div>


{% endblock %}
