{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_session_view') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}

<<<<<<< HEAD
    {% if (app.user in session.students) %}
        {% set sessionViewMode = 1 %}
        {# already joined #}
    {% elseif (app.user == session.tutor) or (("ROLE_ADMIN" in app.user.roles) and (app.user.faculty == session.subject.faculty)) %}
        {% set sessionViewMode = 2 %}
        {# tutor author #}
    {% else %}
        {% set sessionViewMode = 3 %}
        {# student joinable #}
    {% endif %}

    <div>
        <h2>{{ session.title }}</h2>
        <h3>{{ session.subject }}</h3>
        <h3>{{ session.subject.faculty.name }}</h3>
        <p>{{ session.description }}</p>
        <p>{{ session.tutor }}</p>
        <p>{{ session.dateTime | date('d-m-Y') }} à {{ session.dateTime | date('h:i') }}</p>
        <p>{{ session.faceToFace }}</p>
        <p>{{ session.students | length ~ "/" ~ session.studentLimit}}</p>

        {# HIDDEN IF NOT JOINED #}
        {% if session.faceToFace == 1 %}
            <p>{{ session.classroom.name }}</p>
        {% else %}
            <p>{{ session.link }}</p>
        {% endif %}

        <button onclick="event.preventDefault(); document.querySelector('#js-join-session-{{ session.id }}')">S'inscrire</button>
        <button onclick="document.querySelector('#js-session-delete-{{ session.id }}').submit();">Suprimmer cours</button>

        <form 
            method="POST" 
            hidden="hidden" 
            action="{{ path("app_session_join", {"id": session.id}) }}"
            id="js-join-session-{{ session.id }}">
            <input type="hidden" name="token" value="{{ csrf_token('join-session' ~ session.id) }}"/>
        </form>
        <form 
            method="POST" 
            hidden="hidden" 
            action="{{ path("app_session_delete", {"id": session.id}) }}"
            id="js-session-delete-{{ session.id }}">
            <input type="hidden" name="token" value="{{ csrf_token('delete-session' ~ session.id) }}"/>
        </form>
=======
    <span id="navSessionTitle" hidden>{{ currentSession.title }}</span>

    <div class="smooth--container" data-lg-smooth>
        <div class="container">
            {% if (app.user in currentSession.students) %}
                {% set sessionViewMode = 1 %}
                {# already joined #}
            {% elseif (app.user == currentSession.tutor) or (("ROLE_ADMIN" in app.user.roles) and (app.user.faculty == currentSession.subject.faculty)) %}
                {% set sessionViewMode = 2 %}
                {# tutor author #}
            {% else %}
                {% set sessionViewMode = 3 %}
                {# student joinable #}
            {% endif %}
            <div class="cours--container">
                <div class="cours--content">
                    <div class="text">
                        <h2 class="titre">{{ currentSession.title }}</h2>
                        <span class="subject">{{ currentSession.subject }} - {{ currentSession.subject.faculty.name }}</span>
                        <span class="tutor">Par <span>{{ currentSession.tutor }}</span></span>
                    </div>

                    <div class="description">
                        <span>{{ currentSession.description }}</span>
                    </div>

                    <div class="text">
                        <span class="date">Le <b>{{ currentSession.datetime | date('d/m/Y') }}</b> à <b>{{ currentSession.datetime | date('h') }}h{{ currentSession.datetime | date('i') }}</b> en <b>{{ (currentSession.faceToFace == 1) ? "présentiel" : "distanciel" }}</b></span>
                        {% if currentSession.faceToFace == 1 %}
                            <span class="localisation">Salle {{ currentSession.classroom.name }} dans le département {{ currentSession.subject.faculty.name }}.</span>
                        {% else %}
                            <span class="localisation">Lien de la visioconférence : <a href="{{ currentSession.link }}" target="_blank" class="link lineHoverEffect hoveredItems"><span>{{ currentSession.link }}</span></a></span>
                        {% endif %}
                        <span class="participants"><b>{{ currentSession.students | length}}</b> étudiant.es inscrit.es sur <b>{{ currentSession.studentLimit}}</b></span>
                    </div>

                    {% if currentSession.students | length != currentSession.studentLimit %}    
                        {% if sessionViewMode == 3 %}
                            <button class="form--button hoveredItems" onclick="event.preventDefault(); document.querySelector('#js-join-session-{{ currentSession.id }}')">S'inscrire</button>
                        {% elseif sessionViewMode == 1 %}
                            <button class="form--button hoveredItems" onclick="event.preventDefault(); document.querySelector('#js-remove-session-{{ currentSession.id }}')">Se désinscrire</button>
                        {% endif %}
                        {% if sessionViewMode == 2 %}
                            <button class="form--button hoveredItems" onclick="document.querySelector('#js-session-delete-{{ currentSession.id }}').submit();">Suprimmer le cours</button>
                        {% endif %}
                    {% else %}
                        {% if sessionViewMode == 3 %}
                            <button class="form--button hoveredItems" disabled>S'inscrire</button>
                        {% elseif sessionViewMode == 1 %}
                            <button class="form--button hoveredItems" onclick="event.preventDefault(); document.querySelector('#js-remove-session-{{ currentSession.id }}')">Se désinscrire</button>
                        {% endif %}
                        {% if sessionViewMode == 2 %}
                            <button class="form--button hoveredItems" onclick="document.querySelector('#js-session-delete-{{ currentSession.id }}').submit();">Suprimmer le cours</button>
                        {% endif %}
                    {% endif %}

                    <form 
                        method="POST" 
                        hidden="hidden" 
                        action="{{ path("app_session_join", {"id": currentSession.id}) }}"
                        id="js-join-session-{{ currentSession.id }}">
                        <input type="hidden" name="token" value="{{ csrf_token('join-session' ~ currentSession.id) }}"/>
                    </form>
                    <form 
                        method="POST" 
                        hidden="hidden" 
                        action="{{ path("app_session") }}"
                        id="js-session-delete-{{ currentSession.id }}">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-session' ~ currentSession.id) }}"/>
                    </form>
                </div>
                <div class="suggestions--container">
                {% set break = false %}
                {% for session in sessions %}
                    {% if session.subject == currentSession.subject and session.id != currentSession.id and break == false %}
                        {% set break = true %}
                        <span class="suggestion--titre">Cours similaires</span>
                    {% endif %}
                {% endfor %}
                    {% for session in sessions %}
                        {% if session.subject == currentSession.subject and session.id != currentSession.id %}
                            <div class="card--container__minify">
                                <button class="inscription hoveredItems" onclick="document.getElementById('js-session-view-{{ session.id }}').submit();">
                                    <div class="card--hovered">
                                        <div class="text">
                                            <div>
                                                <span>E</span>
                                                <span>N</span>
                                                <span> </span>
                                                <span>S</span>
                                                <span>A</span>
                                                <span>V</span>
                                                <span>O</span>
                                                <span>I</span>
                                                <span>R</span>
                                                <span> </span>
                                                <span>P</span>
                                                <span>L</span>
                                                <span>U</span>
                                                <span>S</span>
                                            </div>
                                        </div>
                                        <div class="background">
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card--content">
                                            <div class="text">
                                                <span class="title">{{ session.title }}</span>
                                                <br>
                                                <span class="subject">{{ session.subject }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <form 
                                    id="js-session-view-{{ session.id }}"
                                    action="{{ path('app_session_view', {"id": session.id}) }}" 
                                    method="GET"
                                    display="none">
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
>>>>>>> 8d6e45c46f24069d43d1d3a1d22f70a7786db982
    </div>

    

{% endblock %}
