{% set links = {
	"accueil": "/",
	"mes_cours": "/ownSessions",
	"cours": "/sessions",
	"create": "/sessions/create",
	"en_attente": "/sessions/pending",
	"logs": "/sessions/log",
	"utilisateurs": "/users",
	"modules": "/subject",
	"salles": "/classroom",
	"semestre": "/semester",
	"contact": "/contact",
	"inscription": "/register",
	"connexion": "/login",
	"deco": "/logout"
} %}

{% set menuContents = [
	{title: "Accueil", link: links.accueil, access: ["ROLE_STUDENT", "ROLE_TUTOR", "ROLE_SECRETARY", "ROLE_ADMIN"]},
	{title: "Mes cours", link: links.mes_cours, access: ["ROLE_STUDENT", "ROLE_TUTOR"]},
	{title: "Liste des cours", link: links.cours, access: ["ROLE_STUDENT", "ROLE_TUTOR", "ROLE_SECRETARY", "ROLE_ADMIN"]},

	{title: "Proposer un cours", link: links.create, access: ["ROLE_TUTOR"]},

	{title: "Cours en attente", link: links.en_attente, access: ["ROLE_SECRETARY"]},

	{title: "Logs", link: links.logs, access: ["ROLE_ADMIN"]},
	{title: "Gérer les utilisateurs", link: links.utilisateurs, access: ["ROLE_ADMIN"]},
	{title: "Gérer les modules", link: links.modules, access: ["ROLE_ADMIN"]},
	{title: "Gérer les salles de cours", link: links.salles, access: ["ROLE_ADMIN"]},
	{title: "Gérer les semestres", link: links.semestre, access: ["ROLE_ADMIN"]},

	{title: "Contact", link: links.contact, access: ["ROLE_STUDENT", "ROLE_TUTOR", "ROLE_ADMIN"]},

	{title: "S'inscrire", link: links.inscription, access: [""]},
	{title: "Se connecter", link: links.connexion, access: [""]},
] %}

<div class="menuBurger hoveredItems">
	<div>
		<span class="menuNotHovered cross__1"></span>
		<span class="menuNotHovered cross__2"></span>
	</div>

	<div>
		<span class="menuNotHovered"></span>
		<span class="menuNotHovered"></span>
	</div>
</div>

<div class="menuContent--container">
	<div class="middle--container">
		<div class="middle--content">
			{% if app.user %}
				{% set userRoleIndex = app.user.roles | length - 1 %}
				{% for content in menuContents %}
					{% if app.user.roles[userRoleIndex] in content.access %}
						<a class="menu--link hoveredItems" href="{{ content.link }}">
							<div class="spans">
								<span>{{ content.title }}</span>
							</div>
							<svg xmlns="http://www.w3.org/2000/svg" width="16.988" height="12.951" viewBox="0 0 16.988 12.951">
								<g id="arrow" transform="translate(-601.608 -435.928)">
									<line id="Ligne_1" data-name="Ligne 38" x2="16.461" transform="translate(602.974 447.514) rotate(-30)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
									<line id="Ligne_2" data-name="Ligne 39" x2="8.231" transform="matrix(0.966, 0.259, -0.259, 0.966, 609.279, 437.153)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
									<line id="Ligne_3" data-name="Ligne 40" x2="8.231" transform="matrix(0.259, -0.966, 0.966, 0.259, 615.099, 447.233)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								</g>
							</svg>
						</a>
					{% endif %}
				{% endfor %}

			{% else %}
				<a class="menu--link hoveredItems" href="{{ links.inscription }}">
						<div class="spans">
							<span>S'inscrire</span>
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16.988" height="12.951" viewBox="0 0 16.988 12.951">
							<g id="arrow" transform="translate(-601.608 -435.928)">
								<line id="Ligne_1" data-name="Ligne 38" x2="16.461" transform="translate(602.974 447.514) rotate(-30)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								<line id="Ligne_2" data-name="Ligne 39" x2="8.231" transform="matrix(0.966, 0.259, -0.259, 0.966, 609.279, 437.153)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								<line id="Ligne_3" data-name="Ligne 40" x2="8.231" transform="matrix(0.259, -0.966, 0.966, 0.259, 615.099, 447.233)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
							</g>
						</svg>
					</a>
				<a class="menu--link hoveredItems" href="{{ links.connexion }}">
						<div class="spans">
							<span>Se connecter</span>
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16.988" height="12.951" viewBox="0 0 16.988 12.951">
							<g id="arrow" transform="translate(-601.608 -435.928)">
								<line id="Ligne_1" data-name="Ligne 38" x2="16.461" transform="translate(602.974 447.514) rotate(-30)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								<line id="Ligne_2" data-name="Ligne 39" x2="8.231" transform="matrix(0.966, 0.259, -0.259, 0.966, 609.279, 437.153)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								<line id="Ligne_3" data-name="Ligne 40" x2="8.231" transform="matrix(0.259, -0.966, 0.966, 0.259, 615.099, 447.233)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
							</g>
						</svg>
					</a>
			{% endif %}
		</div>
	</div>

	<div class="bottom--container">
		<div class="labels">
			<img src="{{ asset('./build/images/UT3.png') }}"/>
			<img src="{{ asset('./build/images/iut-tarbes.png') }}"/>
		</div>
		<div class="website">
			<a href="https://www.iut-tarbes.fr/" target="_blank" class="hoveredItems lineHoverEffect">
				<span>Site officiel</span>
			</a>
		</div>
		<div class="mail">
			<a href="mailto:iut@iut-tarbes.fr" class="hoveredItems lineHoverEffect">
				<span>iut@iut-tarbes.fr</span>
			</a>
		</div>
	</div>
</div>
<div class="menu--background"></div>

