<div class="container">
    <div class="title">
        <h1>Tutorat</h1>
        <span>Vous avez un nouveau message</span>
    </div>

    <div class="content">
        <span>De : <b>{{ data.email }}</b></span>
        <span>Le : <b>{{ data.date }}</b></span>
        <span>Objet : <b>{{ data.subject }}</b></span>
        <span>{{ data.message }}</span>
    </div>

    <div class="link">
        <span>Pour répondre, veuillez ajouter les autres administrateurs du département en CC dans votre mail afin de leur informer que ce message a été traité :</span>
        {% for email in adminEmails %}
            <span>{{ loop.index0 == 0 ? '' : ', ' }}{{ email }}</span>
        {% endfor %}
    </div>
</div>

{% include "email/components/_globalStyle.html.twig" %}