<div class="container">
    <div class="title">
        <h1>Tutorat</h1>
        <span>Demande de salle de cours</span>
    </div>

    <div class="request">
        <span>Un étudiant tuteur souhaite réaliser un cours en présentiel dans une salle du département.</span>
        <span>Voici les détails :</span>
    </div>

    <div class="content">
        <span>Titre : <b>{{ session.title }}</b></span>
        <span>Module : <b>{{ session.subject }}</b></span>
        <span>Département : <b>{{ session.tutor.faculty.name }}</b></span>
        <span>Étudiant référent : <b>{{ session.tutor }} ({{ session.tutor.email }})</b></span>
        <span>Date : <b>{{ session.dateTime | date('d/m/Y') }}</b> à <b>{{ session.dateTime | date('h') }}h{{ session.dateTime | date('i') }}</b></span>
        <span>Pour <b>{{ session.studentLimit + 1 }}</b> étudiants</span>

        {% if session.comment is null == false %}
            <span>Commentaire :</span>
            <br>
            <span><b>{{ session.comment }}</b></span>
        {% endif %}
    </div>

    <div class="link">
        <a href="{{ link }}"><button class="btn btn__mediumEffect">Gérer cette demande</button></a>
    </div>
</div>

{% include "email/components/_globalStyle.html.twig" %}
