<h1>Une salle de cours t'a été attribuée pour le cours de tutorat</h1>

<p>Ta demande de salle pour effectuer un cours de tutorat a été validée. Voici les détails :</p>

<h2>Salle de cours: {{ session.classroom.name }}</h2> 
<h3>Le {{ session.dateTime | date('d-m-Y') }} à {{ session.dateTime | date('h:i') }}</h3>
<h4>{{ session.title }}</h4>
<h4>{{ session.subject }}</h4>

<p>Maintenant il faut que tu cherches le badge de la salle en question au secrétariat pendant les horaires d'ouverture.</p>
